<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do To-Be | Change Password</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='passwordStyle.css') }}">
</head>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="notification {{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<body>
    <header>
        <h1 id="title">To-Do</h1>
        <h2 id="title">To-Be</h2>
    </header>

    <div class="container">
        <h2>Change Password</h2>
        <p>Please answer your security questions and set a new password.</p>

        <form action="{{ url_for('login.change_password') }}" method="POST">
            <div class="form-group">
                <label for="ans1">{{ q1 }}</label>
                <input type="text" name="ans1" id="ans1" required>
            </div>

            <div div class="form-group">
                <label for="pass-field">New Password</label>
                <input type="password" name="new_password" id="new_password" placeholder="Enter new password here" required>
            </div>
            <button type="submit">Update Password</button>
        </form>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
