<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To-Do To-Be | Forgot Password</title>
        <link rel="stylesheet" type="text/css" href="../static/passwordStyle.css">
    </head>
    <body>
        <header>
        <h1 id="title">To-Do</h1>
        <h2 id="title">To-Be</h2>
        </header>

        <div class="container">
            <h2>Forgot your password</h2>
            <p>Please enter your email address.</p>

            <form action="/forgot_password" method="POST">
                <input type="email" name="email" id="email" placeholder="Enter Email address" required>  <!--May clickable thing sa email na if you press it magpunta sa change_password html-->

                <button type="submit">Request Password Change</button>   
            </form>

            <div class="links">
                <a href="login.html">Back To Login</a>
                <a href="register.html">Create an account</a>
            </div>
        </div>
    </body>
</html>