<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ToDo List</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='todoStyle.css')}}">
</head>

<body>
  <div class="sidebar">
    <h1>To-Do</h1>
    <h2>To-Be</h2>
    <button class="add-task">+ Add Task</button>

    <div class="sort-section">
      <h3>Sort Tasks</h3>
      <form id="sortForm">
        <label class="sort-option">
          <input type="radio" name="sort" value="date_added" checked> Date Added </label>
        <label class="sort-option">
          <input type="radio" name="sort" value="deadline"> Deadline </label>
        <label class="sort-option">
          <input type="radio" name="sort" value="priority"> Importance </label>
      </form>
    </div>

    <a href="{{ url_for('login.logout') }}" class="logout-btn">Logout</a>
  </div>

  <div class="main-content">
    
    <div class="welcome-header">
       <h2>Welcome back, {{ name }}</h2>
    </div>

    <div class="categories">
      <div class="status pending">
        <div class="title">Pending</div>
        <div class="list-container" id="pendingTaks"></div>
      </div>

      <div class="status ongoing">
        <div class="title">On Going</div>
        <div class="list-container" id="ongoingTaks"></div>
      </div>

      <div class="status done">
        <div class="title">Done</div>
        <div class="list-container" id="doneTaks"></div>
      </div>
    </div>
  </div>

  <form id="addTaskForm" class="form">
    <div class="pop-up">
      <span id="closePopUp" class="close">×</span>
      <h2>Add Task</h2>

      <label for="taskName">Task Name:</label>
      <input type="text" name="title" id="taskName" placeholder="Task Name" required />
      <span id="nameError" class="error"></span><br>

      <label for="dueDate">Due Date:</label>
      <input type="date" name="deadline" id="dueDate" required />

      <label for="dueTime">Due Time:</label>
      <input type="time" name="duetime" id="dueTime" required />

      <label for="kind">Status of Task:</label>
        <select name="task" id="task">
          <option value="pending">Pending</option>
          <option value="ongoing">OnGoing</option>
          <option value="done">Done</option>
        </select>

      <label for="priority">Priority of Task:</label>
        <select name="priority" id="priority">
          <option value="important">High</option>
          <option value="mid">Mid</option>
          <option value="easy">Low</option>
        </select>

      <button type="submit" id="saveTask">Add Task</button>
    </div>
  </form>

  <script src="{{ url_for('static', filename='taskScript.js') }}"></script>

  <div id="toast" class="toast hidden">
    <span id="toast-message"></span>
    <button id="undo-btn">Undo</button>
  </div>

</body>
</html>